<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<form th:object="${cryptoForm}" class="form-horizontal" id="cryptoForm" name="cryptoForm" th:action="@{/cryptocurrency}" method="post">

    <div>
        <table>
            <tr>
                <td><label class="currency-hdr" data-toggle="tooltip" data-placement="bottom" title="Which currency to supply the bitcoin data for">Currency:</label></td>
                <td>
                    <select th:id="currencyType" th:field="*{currencyType}" class="currency-field" onchange="submitForm();"
                          data-toggle="tooltip" data-placement="bottom" title="Which currency to supply the bitcoin data for">
                        <option th:value="GBP">GBP</option>
                        <option th:value="EUR">EUR</option>
                        <option th:value="USD">USD</option>
                    </select>
                </td>
                <td><label class="pad-currency-field">&nbsp;</label></td>
                <td><label class="coin-hdr" data-toggle="tooltip" data-placement="bottom" title="How many coins to display">Number of coins:</label></td>
                <td>
                    <select th:id="coin-limit" th:field="*{coinLimit}" onchange="submitForm();"
                            data-toggle="tooltip" data-placement="bottom" title="How many coins to display">
                        <option th:value="10">10</option>
                        <option th:value="20">20</option>
                        <option th:value="30">30</option>
                        <option th:value="40">40</option>
                        <option th:value="50">50</option>
                    </select>
                </td>
                <td><label class="pad-currency-field">&nbsp;</label></td>
                <td>
                    <label class="radio-inline radio-buttons" data-toggle="tooltip" data-placement="bottom" title="Scroll bit coins from right to left">
                        <input type="radio" onclick="checkRadioButton();" name="radiovalue"
                            value="left" th:checked="*{rightButton} ? 'checked'">
                        Right
                    </label>
                </td>
                <td><label class="pad-radio-buttons">&nbsp;</label></td>
                <td>
                    <label class="radio-inline radio-buttons" data-toggle="tooltip" data-placement="bottom" title="Scroll bit coins from left to right">
                        <input type="radio" onclick="checkRadioButton();" name="radiovalue"
                            value="right" th:checked="*{leftButton} ? 'checked'">
                        Left
                    </label>
                </td>
            </tr>
        </table>
    </div>

    <br/>

    <h2>Crypto Currencies</h2>

    <div class="form-group">
        <ul id="webTicker">
            <li th:each="crypto, itemStat : *{cryptoList}">
                <div class="name-ticker">
                    <label th:text="*{cryptoList[__${itemStat.index}__].name}"></label>
                    <label th:class="*{cryptoList[__${itemStat.index}__].negativePct} ? price-details-red : price-details-green"
                           th:text="*{cryptoList[__${itemStat.index}__].changePct24Hour}">
                    </label>
                </div>
                <div class="price-ticker">
                    <label th:text="*{cryptoList[__${itemStat.index}__].price}"></label>
                </div>
                <div class="high-low-price-ticker">
                    High: <label class="price-ticker" th:text="*{cryptoList[__${itemStat.index}__].high24HourPrice}"></label>
                </div>
                <div class="high-low-price-ticker">
                    Low: <label class="price-ticker" th:text="*{cryptoList[__${itemStat.index}__].low24HourPrice}"></label>
                </div>
            </li>
        </ul>
    </div>

    <input type="hidden" id="leftButton"  name="leftButton"  th:value="${cryptoForm.leftButton}" />
    <input type="hidden" id="rightButton" name="rightButton" th:value="${cryptoForm.rightButton}" />

</form>

</body>

</html>
