<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<form th:object="${cryptoDetailsForm}" class="form-horizontal" id="cryptoDetailsForm" name="cryptoDetailsForm" th:action="@{/cryptocurrency}" method="post">

    <div>
        <table>
            <tr>
                <td><label class="currency-hdr" data-toggle="tooltip" data-placement="bottom" title="Which currency to supply the bitcoin data for">Currency:</label></td>
                <td>
                    <select th:id="currencyType" th:name="currencyType" th:field="*{currencyType}" onchange="submitForm();"
                            data-toggle="tooltip" data-placement="bottom" data-style="btn-success" data-width="auto"
                            title="Which currency to supply the bitcoin data for" class="selectpicker">
                        <option th:value="GBP" data-content='<img src="resources/images/gbp.png"> Great British Pound'></option>
                        <option th:value="EUR" data-content='<img src="resources/images/eur.png"> Euro'></option>
                        <option th:value="USD" data-content='<img src="resources/images/usd.png"> US Dollar'></option>
                        <option th:value="INR" data-content='<img src="resources/images/inr.png"> Indian Rupee'></option>
                        <option th:value="AUD" data-content='<img src="resources/images/aud.png"> Australian Dollar'></option>
                        <option th:value="CAD" data-content='<img src="resources/images/cad.png"> Canadian Dollar'></option>
                        <option th:value="SGD" data-content='<img src="resources/images/sgd.png"> Singapore Dollar'></option>
                        <option th:value="CHF" data-content='<img src="resources/images/chf.png"> Swiss Franc'></option>
                        <option th:value="MYR" data-content='<img src="resources/images/myr.png"> Malaysian Ringgit'></option>
                        <option th:value="JPY" data-content='<img src="resources/images/jpy.png"> Japanese Yen'></option>
                        <option th:value="CNY" data-content='<img src="resources/images/cny.png"> Chinese Yaun Renminbi'></option>
                    </select>
                </td>
                <td><label class="pad-currency-field">&nbsp;</label></td>
                <td><label class="coin-hdr" data-toggle="tooltip" data-placement="bottom" title="How many coins to display">Number of coins:</label></td>
                <td>
                    <select th:id="coin-limit" th:field="*{coinLimit}" onchange="submitForm();"
                            data-style="btn-success" data-width="auto"
                            data-toggle="tooltip" data-placement="bottom" title="How many coins to display">
                        <option th:value="10">10</option>
                        <option th:value="20">20</option>
                        <option th:value="30">30</option>
                        <option th:value="40">40</option>
                        <option th:value="50">50</option>
                    </select>
                </td>
                <td><label class="pad-currency-field">&nbsp;</label></td>
                <td>
                    <label class="radio-inline radio-buttons" data-toggle="tooltip" data-placement="bottom" title="Scroll bit coins from right to left">
                        <input type="radio" onclick="checkRadioButton();" name="radiovalue"
                            value="left" th:checked="*{rightButton} ? 'checked'">
                        Right
                    </label>
                </td>
                <td><label class="pad-radio-buttons">&nbsp;</label></td>
                <td>
                    <label class="radio-inline radio-buttons" data-toggle="tooltip" data-placement="bottom" title="Scroll bit coins from left to right">
                        <input type="radio" onclick="checkRadioButton();" name="radiovalue"
                            value="right" th:checked="*{leftButton} ? 'checked'">
                        Left
                    </label>
                </td>
            </tr>
        </table>
    </div>

    <br/>

    <div>
        <div class="side-by-side">
            <h2>Crypto Currencies</h2>
        </div>
        <div class="side-by-side">
            <h5><label th:text="' (top ' + *{coinLimit} + ' coins by their total volume across all markets in the last 24 hours)'"></label></h5>
        </div>
    </div>

    <div class="form-group">
        <ul id="webTicker">
            <li>
                <span class="badge progress-bar-success"><label></label></span>
            </li>
            <li th:each="crypto, itemStat : *{cryptoList}">
                <div class="name-ticker">
                    <label th:text="*{cryptoList[__${itemStat.index}__].name}"></label>
                    <label th:class="*{cryptoList[__${itemStat.index}__].negativePct} ? price-details-red : price-details-green"
                           th:text="*{cryptoList[__${itemStat.index}__].changePct24Hour}">
                    </label>
                </div>
                <div class="price-ticker">
                    <label th:text="*{cryptoList[__${itemStat.index}__].price}"></label>
                </div>
                <div class="high-low-price-ticker">
                    High: <label class="price-ticker" th:text="*{cryptoList[__${itemStat.index}__].high24HourPrice}"></label>
                </div>
                <div class="high-low-price-ticker">
                    Low: <label class="price-ticker" th:text="*{cryptoList[__${itemStat.index}__].low24HourPrice}"></label>
                </div>
            </li>
        </ul>
    </div>

    <input type="hidden" id="leftButton"  name="leftButton"  th:value="${cryptoDetailsForm.leftButton}" />
    <input type="hidden" id="rightButton" name="rightButton" th:value="${cryptoDetailsForm.rightButton}" />

</form>

</body>

</html>
